:root {
  --primary-color: #23b6d1;
  --secondary-color: #e3e5e7;
  --white-color: #fcfcfc;
  --blend-color: #a5adbd;
  --blend2-color: #7998b2;
}

html {
  font-size: 90%;
}

* {
  font-family: "Inter", sans-serif;
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
}

.header {
  min-height: 100vh;
  width: 100%;
  background-image: linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7)),
    url(../images/building.jpg);
  background-position: center;
  background-size: cover;
  position: relative;
  margin-bottom: -7rem;
}

.box-skewed-right {
  clip-path: polygon(100% 0, 100% 100%, 0% 90%, 0 0%);
}

/* TODO: Get Official Logo When Ready */
.temp-logo {
  transform: scale(0.2);
  transform-origin: 10%;
}

/* Nav */
nav {
  display: flex;
  padding: 2% 6%;
  justify-content: space-between;
  align-items: center;
}

nav img {
  width: 150px;
}

.nav-links {
  flex: 1;
  text-align: right;
}

.nav-links ul li {
  list-style: none;
  display: inline-block;
  padding: 8px 12px;
  position: relative;
}

.nav-links ul li a:hover {
  color: var(--primary-color);
}

.nav-links ul li a {
  color: white;
  text-decoration: none;
  font-size: 13px;
  transition: all 0.3s ease-in-out;
}

.nav-links ul li a::after {
  background-color: var(--primary-color);
  content: "";
  display: block;
  height: 2px;
  margin: auto;
  transition: 0.3s;
  width: 0%;
}

.nav-links ul li a:hover::after {
  width: 100%;
}

/* Text */
.text-box {
  width: 90%;
  color: var(--white-color);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.text-box h1 {
  font-size: 62px;
}

.text-box p {
  margin: 10px 0 40px;
  font-size: 14px;
  color: var(--white-color);
}

/* Hero */
.hero-btn {
  background: transparent;
  border: 1px solid var(--white-color);
  color: var(--white-color);
  cursor: pointer;
  display: inline-block;
  font-size: 13px;
  padding: 12px 34px;
  position: relative;
  text-decoration: none;
  transition: all 0.2s ease-in-out;
}

.hero-btn:hover {
  border: 1px solid var(--primary-color);
  background: var(--primary-color);
  transform: scale(1.05);
}

nav .fa {
  display: none;
}

@media screen and (min-width: 768px) {
  .text-box h1 {
    font-size: 62px;
    transition: 0.5s ease-in-out;
  }
  .text-box p {
    font-size: 18px;
    transition: 0.5s ease-in-out;
  }
}

@media screen and (max-width: 1024px) {
  .text-box h1 {
    font-size: 32px;
    transition: 0.5s ease-in-out;
  }
  .text-box p {
    font-size: 12px;
    transition: 0.5s ease-in-out;
  }

  .nav-links ul li {
    display: block;
    transition: 0.2s;
  }
  .nav-links ul li a:hover::after {
    width: 60%;
    transform: translateX(-35%);
  }

  .nav-links {
    background-color: rgba(0, 0, 0, 0.3);
    height: 100vh;
    position: absolute;
    right: -200px;
    text-align: left;
    top: 0;
    transition: all 0.7s ease-in-out;
    width: 200px;
    z-index: 2;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    backdrop-filter: blur(4px);
    box-shadow: 1px -1px rgba(4, 9, 30, 1);
  }

  nav .fa {
    display: block;
    color: var(--white-color);
    margin: 14px;
    font-size: 22px;
    cursor: pointer;
  }

  .nav-links ul {
    padding: 18px;
  }
}

/* Package */
.package {
  box-shadow: 1px 1px 8px rgba(165, 173, 189, 0.5);
  margin-bottom: -1rem;
  margin: auto;
  padding-left: 2rem;
  padding-right: 2rem;
  padding-top: 100px;
  text-align: center;
  width: 80%;
}

.package-header {
  color: var(--primary-color);
  letter-spacing: 1px;
  font-weight: 600;
}

h1 {
  font-size: 36px;
  font-weight: 600;
}

p {
  color: var(--blend-color);
  font: 14px;
  font-weight: 300;
  line-height: 22px;
  padding: 10px;
}

.row {
  margin-top: 5%;
  display: flex;
  justify-content: space-between;
}

.package-col {
  flex-basis: 31%;
  background: var(--white-color);
  border-radius: 10px;
  margin-bottom: 5%;
  padding: 20px 12px;
  box-sizing: border-box;
  transition: all 0.3s;
  box-shadow: 1px 1px 8px rgba(165, 173, 189, 0.3);
  padding-bottom: 3rem;
}

.package-col a {
  text-decoration: none;
}

h3 {
  text-align: center;
  font-weight: 600;
  margin: 10px 0;
}

.package-col h3 {
  align-self: center;
  justify-self: center;
}

.package h3 {
  font-weight: 300;
}

.package-warning {
  opacity: 0;
  margin-top: -2rem;
  transition: all 0.2s ease-in-out;
}

.package-col h2 {
  transition: all 0.2s ease-in-out;
  color: var(--primary-color);
}

.package-col:hover h2 {
  transform: translateY(10%);
  opacity: 0;
  color: var(--white-color);
}

.package-col:hover {
  box-shadow: 1px 1px 8px rgba(165, 173, 189, 0.9);
  transition: all 0.3s;
  cursor: pointer;
  transform: scale(1.05);
}

.package-col p {
  opacity: 0;
  transition: 0.3s;
  margin-bottom: 0.5rem;
}

.package-col:hover p {
  opacity: 1;
  transform: translateY(55%);
}

.package-col h3 {
  width: 100%;
  font-weight: 500;
  color: var(--white-color);
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  position: absolute;
  font-size: 22px;
  opacity: 1;
  transition: all 0.2s ease-in-out;
}

.package-highlighted {
  color: white;
}

.package-rates {
  display: 0;
}

.package-rates:hover {
  display: block;
}

.package-col:hover h3 {
  bottom: 0%;
  opacity: 0;
  color: var(--primary-color);
}

.package-col.first-package {
  background-image: linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7)),
    url(../images/bed1.png);
  background-position: center;
  background-size: cover;
  position: relative;
  color: var(--white-color);
}

.package-col.heading:hover {
  color: var(--primary-color);
}

.package-col.second-package {
  background-image: linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7)),
    url(../images/bed2-2x.png);
  background-position: center;
  background-size: cover;
  position: relative;
  color: var(--white-color);
}

.package-col.third-package {
  background-image: linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7)),
    url(../images/bunkbeds.png);
  background-position: center;
  background-size: cover;
  position: relative;
  color: var(--white-color);
}

@media screen and (max-width: 1024px) {
  .package-col h2 {
  }
}

@media screen and (max-width: 768px) {
  .row {
    flex-direction: column;
  }

  .package-col p {
    opacity: 1;
  }

  .package-col:hover p {
    opacity: 0;
  }

  .package-col h3 {
    bottom: 10%;
    opacity: 1;
    color: var(--primary-color);
  }

  .package-col p {
    padding-top: 1.5rem;
    transform: translateY(20%);
  }

  .package-col h2 {
    display: none;
  }

  .package-warning {
    opacity: 0.5;
    font-style: italic;
    margin-top: 2rem;
  }

  .package-rates {
    display: none;
  }
}

/* Location */
.location {
  width: 80%;
  margin: auto;
  text-align: center;
  padding: 50px;
  margin-bottom: -9rem;
}

.location-col {
  flex-basis: 32%;
  border-radius: 10px;
  margin-bottom: 30px;
  position: relative;
  overflow: hidden;
  box-shadow: 1px 1px 8px rgba(165, 173, 189, 1);
  transition: all 0.3s ease-in-out;
}

.location-col img {
  width: 100%;
  display: block;
}

.location-col:hover {
  transform: scale(1.05);
  transition: all 0.3s ease-out;
}

.layer {
  background: transparent;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transition: all 0.3s ease-in-out;
  color: var(--white-color);
}

.layer:hover {
  background: rgba(23, 190, 221, 0.5);
  cursor: pointer;
}

.layer h3 {
  width: 100%;
  font-weight: 500;
  color: var(--white-color);
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  position: absolute;
  font-size: 22px;
  opacity: 0;
  transition: all 0.2s ease-in-out;
}

.layer:hover h3 {
  bottom: 30%;
  opacity: 1;
  border: 3px solid white;
}

/* Facilities */
.facilities {
  width: 80%;
  margin: auto;
  text-align: center;
  padding-top: 100px;
  padding-left: 2rem;
  padding-right: 2rem;
  margin-bottom: -2rem;
}

.facilities-col {
  flex-basis: 28%;
  border-radius: 10px;
  margin-bottom: 5%;
  text-align: left;
  transition: all 0.2s ease-in-out;
  box-shadow: 1px 1px 8px rgba(165, 173, 189, 0.3);
  padding: 1rem;
}

.facilities-col:hover {
  transform: scale(1.05);
  color: var(--primary-color);
  box-shadow: 1px 1px 8px rgba(165, 173, 189, 0.7);
}

.facilities-col img {
  width: 100%;
  border-radius: 10px;
}

.facilities-col p {
  padding: 0;
}

.facilities-col h3 {
  margin-top: 16px;
  margin-bottom: 15px;
  text-align: left;
}

/* Testimonials */
.testimonials {
  width: 80%;
  margin: auto;
  padding-top: 100px;
  text-align: center;
  margin-bottom: -8rem;
  padding: 4rem;
  display: flex;
  flex-direction: column;
}

.testimonial-col {
  border-radius: 10px;
  flex-basis: 44%;
  margin-bottom: 5%;
  text-align: left;
  background: rgb(248, 248, 248);
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  padding: 1rem;
  box-shadow: 1px 1px 8px rgba(165, 173, 189, 0.3);
  font-size: larger;
}

.testimonial-col img {
  display: flex;
  height: 9rem;
  width: 9rem;
  border-radius: 50%;
  object-fit: cover;
  transform: translateX(110%);
  margin-bottom: -1.5rem;
  margin-right: 1rem;
  justify-content: center;
  align-items: center;
}

.testimonial-col h3 {
  display: flex;
  justify-self: center;
}

.testimonial-col:hover {
  transform: scale(1.05);
  box-shadow: 1px 1px 8px rgba(165, 173, 189, 0.7);
}

.testimonial-col p {
  padding: 0;
  padding-left: 0rem;
  padding-bottom: 0.5rem;
}

.testimonial-info {
  text-align: left;
}

.testimonial-col .fa {
  color: gold;
}

@media screen and (max-width: 768px) {
  .testimonial-col img {
    margin-right: 30px;
    margin-left: 5px;
    width: 7rem;
    height: 7rem;
    transform: translateX(140%);
  }
}

/* CTA */
.cta {
  margin: 100px auto;
  width: 80%;
  background-image: linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7)),
    url(../images/buildingnight.png);
  background-position: center;
  background-size: cover;
  border-radius: 10px;
  text-align: center;
  padding: 100px 0;
  transition: all 0.2s ease-in-out;
  box-shadow: 2px 2px 8px rgba(165, 173, 189, 0.9);
  margin-bottom: 0rem;
}

.cta:hover {
  box-shadow: 2px 2px 8px rgba(165, 173, 189, 1.9);
}

.cta h1 {
  color: var(--white-color);
  margin-bottom: 40px;
  padding: 0;
}

@media screen and (max-width: 768px) {
  .cta h1 {
    font-size: 36px;
  }
}

/* Footer */
.footer {
  width: 100%;
  text-align: center;
  padding: 30px 0;
}

.footer h4 {
  margin-top: 20px;
  font-weight: 600;
}

.icons .fa {
  color: var(--blend-color);
  margin: 0 7px;
  cursor: pointer;
}

/* <!----- Packages Page -----> */
.sub-header {
  height: 50vh;
  width: 100%;
  background-image: linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7)),
    url(../images/poolviewhigh.png);

  background-position: center;
  background-size: cover;
  text-align: center;
  color: var(--white-color);
  text-align: center;
  margin-bottom: -5rem;
}

.sub-header h1 {
  margin-top: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s ease-in-out;
  font-weight: 400;
}

.package-page {
  margin-bottom: -5rem;
}

.about-us {
  width: 80%;
  margin: auto;
  padding-top: 80px;
  padding-bottom: 50px;
}

.about-col {
  flex-basis: 48%;
  padding: 30px 2px;
}

.about-col img {
  width: 100%;
  margin-bottom: -4rem;
}

.about-col h1 {
  padding-top: 0;
}

.about-col p {
  padding: 15px 0 25px;
}

.blue-btn {
  border: 1px solid var(--primary-color);
  background: transparent;
  color: var(--primary-color);
}

.blue-btn:hover {
  background: var(--primary-color);
  color: var(--white-color);
}

@media screen and (max-height: 548px) {
  .sub-header h1 {
    transform: translateY(-300%);
  }
}

@media screen and (max-height: 408px) {
  .sub-header h1 {
    opacity: 0;
  }
}

/* <!----- Experiences Page -----> */
.experiences-header {
  height: 50vh;
  background-image: linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7)),
    url(../images/sunset3.png);
  background-position: center;
  background-size: cover;
  text-align: center;
  color: var(--white-color);
  text-align: center;
}

.experiences-heading {
  text-align: center;
  opacity: 0.5;
  font-weight: 300;
  color: var(--blend2-color);
  padding: 3rem;
  margin-top: 4rem;
}

.experiences-content {
  padding-bottom: 2rem;
}

.experiences-content img {
  flex-basis: 50%;
  width: 100%;
  margin: auto 0;
  object-fit: cover;
  height: 15rem;
  display: flex;
  height: 24rem;
  justify-content: center;
  align-items: center;
  padding-bottom: 0.5rem;
}

.experiences-info {
  padding: 0.25rem;
}

.experiences-p {
  padding-bottom: 0.75rem;
  margin-top: -1rem;
}

.experiences-page {
  padding-top: 12rem;
}
